In [1]:
#importando as bibliotecas necessárias
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

In [2]:
#carregando a base de dados
df = pd.read_csv('rotatividade_clientes.csv', index_col = 0)
df.head()

,Idoso,Tempo de permanência,Valor mensal,Valor total,Sexo,Solteiro,Dependentes,Serviço telefônico,Várias linhas telefônicas,Provedor DSL,...,Streaming de filmes,Contrato de mês a mês,Contrato de um ano,Contrato de dois anos,Fatura digital,Pgto transferência bancária,Pgto cartão de crédito,Pgto cheque eletrônico,Pgto cheque enviado,Rotatividade
0,0,1,29.85,29.85,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,1,...,0,0,1,0,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,1,...,0,1,0,0,1,0,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,1

In [3]:
#dividindo a base em treino e teste
X = df.drop(columns=['Rotatividade'])
y = df['Rotatividade']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X.shape

(7032, 25)

In [4]:
#treinando o modelo preditivo e verificando os resultados

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7825159914712153

In [9]:
#filtrando as características usando o RFE
selector = RFE(rf, n_features_to_select = 10)
selector = selector.fit(X_train, y_train)

In [10]:
#analisando o resultado da seleção de características
print(selector.support_) #features selecionadas
print(selector.ranking_) #ranking de importância

[False  True  True  True  True  True False False False False  True  True
 False False False False False  True False False  True False False  True
 False]
[ 2  1  1  1  1  1  8 16  5 13  1  1  4  9  3 10  6  1 14  7  1 12 11  1
 15]

In [7]:
#filtrando apenas as características selecionadas
X_selected_train = selector.transform(X_train)
X_selected_test = selector.transform(X_test)
print(X_selected_test.shape)

(1407, 10)

In [8]:
#treinando o modelo preditivo e verificando os resultados com as características selecionadas

rf = RandomForestClassifier()
rf.fit(X_selected_train, y_train)
rf.score(X_selected_test, y_test)

0.7711442786069652